// Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

// Primary Colors
$main_background: rgb(28, 36, 49); // intro and email sign up background
$footer: rgb(28, 36, 49);
$testimonials_bg: rgb(28, 36, 49);
$intro_mail: rgb(28, 36, 49);

// Accent Colors
$cyan: rgb(101, 226, 217); // inside call-to-action gradient
$blue: rgb(51, 158, 204); // inside call-to-action gradient
$light_red: rgb(255, 66, 66);
$neutral: rgb(255, 255, 255);

// Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    text-decoration: none;
}

// General
html, body{
    min-height: 100%;
    scroll-behavior: smooth;
}
body{
    background-color: hsl(218, 28%, 13%);
    font: 15px 'Open Sans', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}

// Header
header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    nav{
        padding: 30px 35px;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1400px;
        justify-content: space-between;

        img {
            width: 135px;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 30px;

            li {
                a {
                    display: inline-block;
                    position: relative;
                    color: rgb(185, 185, 185);
                    transition: color .2s ease, background-color .2s ease;

                    &#signin{
                        padding: 0.7rem 1rem;
                        border-radius: 50px;
                        color: black;
                        font-weight: 400;
                        background-color: $cyan;
                        &:hover{
                            background-color: rgb(78, 192, 184);
                        }
                    }
                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -4px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 1px;
                        background-color: $neutral;
                        width: 0;
                        transition: width .3s ease;
                    }
                    &:not(#signin):hover{
                        color: $neutral;
                        &::after{
                            width: 70%;
                        }
                    }
                }
            }
        }

        i.toggler{
            display: none;
        }
    }
}


// Main and Sections
main{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}
section{
    padding: 40px 30px;
}

// Hero
#hero{
    padding: 90px 35px 200px;
    background-image: url(../img/background/bg-curvy-desktop.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $main_background;
    img{
        display: block;
        margin: 0 auto 40px;
        width: 90%;
        max-width: 550px;
        -webkit-user-select: none;
        user-select: none;
    }
    .text{
        max-width: 720px;
        margin: 0 auto;
        text-align: center;

    }
    h1{
        font-size: 2.3rem;
        font-family: 'Raleway', sans-serif;
        line-height: 1.45;
        margin-bottom: 20px;
        font-weight: 600;
        color: $neutral;
    }
    p {
        color: rgb(222, 222, 222);
        font-size: 1.15rem;
        max-width: 585px;
        margin: 0 auto;
        line-height: 1.5;
        margin-bottom: 30px;
    }
    a {
        position: relative;
        z-index: 1;
        overflow: hidden;
        -webkit-user-select: none;
        user-select: none;
        display: inline-block;
        padding: 17px 100px;
        color: rgb(230,230,230);
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 1.05rem;
        border-radius: 50px;
        background: linear-gradient(to right, rgb(86, 226, 216) 15%, rgb(57, 153, 173));
        transition: color .3s ease;
        &::before{
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            display: block;
            background: linear-gradient(to left, rgb(38, 238, 225) 15%, rgb(84, 229, 255));
            opacity: 0;
            transition: opacity .3s ease;
        }
        &:hover{
            color: $neutral;
            &::before{
                opacity: 1;
            }
        }
    }
}

// Sections
section:not(#hero){
    margin-bottom: 60px;
}

// Features
#features{
    padding-top: 60px;
    .wrapper{
        display: flex;
        justify-content: space-around;
        max-width: 1150px;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 50px;
        .feature{
            text-align: center;
            width: 370px;
            img{
                -webkit-user-select: none;
                user-select: none;
                display: inline-block;
                margin-bottom: 30px;
            }
            h2{
                color: $neutral;
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                font-size: 1.2rem;
                margin-bottom: 10px;
            }
            p{
                color: rgb(185, 185, 185);
            }
        }
    }
}

// About
#about{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    .illustration{
        width: 100%;
        max-width: 640px;
        img{
            display: block;
            width: 100%;
        }
    }
    .text{
        h2{
            color: $neutral;
            font-size: 2.4rem;
            font-weight: 600;
            max-width: 400px;
            line-height: 1.25;
            margin-bottom: 30px;
            font-family: 'Raleway', sans-serif;
        }
        p{
            color: rgb(220,220,220);
            margin-bottom: 20px;
            font-size: 1rem;
            max-width: 500px;
        }
    }
    a{
        color: $cyan;
        display: inline-flex;
        padding-bottom: 10px;
        align-items: center;
        border-bottom: 1px solid $cyan;
        margin-top: 13px;
        gap: 10px;
        line-height: 1;
        font-size: 1.1rem;
        transition: .3s ease;
        i{
            font-size: 1rem;
        }
        &:hover{
            color: white;
            border-color: white;
        }
    }

}

// Team
#team{
    padding: 35px 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-image: url(../img/background/bg-quotes.png);
    background-repeat: no-repeat;
    .card{
        padding: 45px 25px 30px;
        background-color: rgb(33, 42, 58);
        width: 400px;
        box-shadow: 5px 5px 5px $testimonials_bg;
        > p{
            color: rgb(220,220,220);
            line-height: 1.5;
            margin-bottom: 23px;
            font-size: .93rem;
        }
        .author{
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                width: 35px;
                border-radius: 50%;
            }
            .role{
                h4{
                    color: $neutral;
                    font-size: .85rem;
                    font-weight: 600;
                    letter-spacing: 1px;
                    font-family: 'Raleway', sans-serif;
                    margin-bottom: 2px;
                }
                p{
                    font-size: .8rem;
                    color: rgb(230,230,230);

                }
            }
        }
    }
}

// Footer
footer{
    position: relative;
    background-color: rgb(17, 23, 35);
    padding-top: 210px;
    margin-top: 270px;

    .card-early-access{
        position: absolute;
        left: 50%;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.186);
        transform: translateX(-50%);
        text-align: center;
        width: 90%;
        max-width: 880px;
        background-color: rgb(28, 36, 49);
        border-radius: 12px;
        bottom: calc(100% - 150px);
        padding: 45px 35px;
        h2{
            font-size: 1.6rem;
            margin-bottom: 25px;
            font-family: 'Raleway', sans-serif;
            color: $neutral;
        }
        p{
            color: rgb(230,230,230);
            font-size: 1rem;
            width: 100%;
            max-width: 700px;
            margin: 0 auto 30px;
        }
        fieldset{
            display: flex;
            gap: 30px;
            justify-content: space-between;
            width: 100%;
            max-width: 750px;
            margin: 0 auto;
            outline: none;
            border: none;
            input{
                display: block;
                width: 100%;
                font-family: 'Raleway', sans-serif;
                outline: none;
                border: none;
                padding: 15px 35px;
                border-radius: 50px;

                &[type=email]{
                    color: rgb(103, 103, 103);
                    background-color: $neutral;
                    &::placeholder{
                        color: rgb(161, 161, 161);
                    }
                }
                &[type=submit]{
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    display: inline-block;

                    max-width: 240px;
                    cursor: pointer;
                    font-size: .95rem;
                    font-weight: 600;
                    color: rgb(236, 236, 236);
                    background: linear-gradient(to right, rgb(86, 226, 216) 15%, rgb(57, 153, 173));
                    transition: color .3s ease;
                    &::after{
                        content: "";
                        display: block;
                        position: absolute;
                        inset: 0;
                        z-index: 1;
                        background: linear-gradient(to left, rgb(86, 226, 216) 15%, rgb(57, 153, 173));

                        opacity: 1;
                        transition: opacity .3s ease;
                    }
                    &:hover{
                        color: $neutral;
                        &::before{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .container{
        width: 100%;
        margin: 0 auto;
        padding: 0 40px;
        max-width: 1400px;
        
        > img{
            display: inline-block;
            margin-bottom: 30px;
            width: 100%;
            max-width: 150px;
        }

        .info-wrapper{
            display: flex;
            justify-content: space-between;
            gap: 60px;
            
            .contact{
                display: flex;
                width: 100%;
                max-width: 650px;
                gap: 60px;
                justify-content: space-between;
                address{
                    display: flex;
                    align-items: flex-start;
                    gap: 25px;
                    line-height: 1.5;
                    font-size: .98rem;
                    font-family: 'Raleway', sans-serif;
                    color: rgb(230,230,230);
                    width: 100%;
                    max-width: 350px;
                    font-style: normal;
                    img{
                        margin-top: 5px;
                    }
                }
                ul{
                    li{
                        a{
                            display: flex;
                            align-items: flex-start;
                            gap: 25px;
                            margin-bottom: 20px;
                            font-size: .98rem;
                            line-height: 1;
                            color: rgb(210,210,210);
                            transition: color .3s ease;
                            &:hover{
                                color: $neutral;
                            }
                        }
                    }
                }
            }

            .links{
                display: flex;
                gap: 80px;
                ul{
                    li{
                        a{
                            display: inline-flex;
                            margin-bottom: 15px;
                            align-items: center;
                            font-size: .98rem;
                            gap: 15px;
                            color: rgb(220,220,220);
                            line-height: 1;
                            transition: color .25s ease;
                            &:hover{
                                color: $neutral;
                            }
                            img{
                                width: 15px;
                                -webkit-user-select: none;
                                user-select: none;
                            }
                        }
                    }
                }
            }

            .icons{
                ul{
                    display: flex;
                    gap: 10px;
                    i{
                        color: white;
                        font-size: 1.1rem;
                        border-radius: 50%;
                        padding: 8px;
                        border: 1px solid white;
                        transition: .25s ease;
                        &:hover{
                            color: $cyan;
                            border-color: $cyan;
                        }
                    }
                }
            }
        }
    }

    .attribution{
        margin-top: 70px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        padding: 20px 25px;
        background-color: $footer;
        p{
            font-size: .9rem;
            color: rgb(220,220,220);
            a{
                color: $neutral;
            }
        }
    }
}

// Media Queries

// About
@media(max-width: 1075px){
    #about{
        flex-direction: column;
        gap: 50px;
        .illustration{
            max-width: 500px;
        }
        .text{
            h2{
                font-size: 2rem;
            }
        }
    }
}

// Footer
@media(max-width: 960px){
    footer{
        .container{
            max-width: 600px;
            > img{
                display: block;
                margin: 0 auto 30px;
            }
            .info-wrapper{
                flex-direction: column;
                gap: 30px;
                .contact{
                    width: 100%;
                    max-width: 350px;
                    margin: 0 auto;
                    gap: 20px;
                    flex-direction: column;
                    address{
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        gap: 15px;
                        font-size: .95rem;
                    }
                    ul{
                        li{
                            a{
                                flex-direction: column;
                                align-items: center;
                                gap: 15px;
                            }
                        }
                    }
                }
                .links{
                    justify-content: center;
                }
                .icons{
                    ul{
                        justify-content: center;
                    }
                }
            }
        }
    }
}

// Team
@media(max-width: 825px){
    #team{
        padding: 40px 0;
        flex-direction: column;
        align-items: center;
        .card{
            width: 100%;
            max-width: inherit;
        }
    }
}

// Header & Hero
@media(max-width: 780px){
    header{
        nav{
            ul{
                background-color: rgb(40, 52, 71);
                padding: 70px 25px 30px;
                position: absolute;
                width: 90%;
                right: 15px;
                max-width: 200px;
                border-radius: 10px;
                top: 15px;
                gap: 10px;
                flex-direction: column;
                opacity: 0;
                visibility: hidden;
                transition: transform .2s ease, visibility .2s ease, opacity .2s ease;
                &.active{
                    opacity: 1;
                    visibility: visible;
                }
                li{
                    display: block;
                    width: 100%;
                    text-align: center;
                    a{
                        width: 100%;
                        max-width: 120px;
                        padding: 0.7rem 1.5rem;
                        border-radius: 6px;
                        &::after{
                            display: none;
                        }
                        &:not(#signin):hover{
                            background-color: rgba(172, 172, 172, 0.121);
                        }
                        &#signin{
                            margin-top: 10px;
                            padding: 0.7rem 1.5rem;
                            border-radius: 6px;
                        }
                    }
                }
            }

            i.toggler{
                display: block;
                font-size: 1.3rem;
                position: absolute;
                z-index: 1000;
                right: 40px;
                top: 40px;
                cursor: pointer;
                color: rgb(185, 185, 185);
                transition: color .2s ease;
                &:hover{
                    color: rgb(239, 239, 239);
                }
            }

            > img{
                max-width: 100px;
            }
        }
    }
    #hero{
        padding: 90px 35px 80px;

        background-image: url(../img/background/bg-curvy-mobile.svg);
        .text{
            width: 90%;
        }
        h1{
            font-size: 1.85rem;
        }
        a{
            padding: 14px 60px;
        }
    }
}

// Card Early Access
@media(max-width: 590px){
    footer{
        .card-early-access{
            fieldset{
                flex-direction: column;
                input{
                    width: 100%;
                    &[type=submit]{
                        display: block;
                        width: 100%;
                        max-width: none;
                    }
                }
            }
        }
    }
}

// Hero & Footer
@media(max-width: 390px){
    #hero{
        h1{
            font-size: 1.4rem;
        }
    }
    footer{
        margin-top: 350px;
        .container{
            .info-wrapper{
                .links{
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    gap: 20px;
                }
            }
        }
    }
}