// Primary Colors
$main_background: rgb(28, 36, 49); // intro and email sign up background
$testimonials_bg: rgb(28, 36, 49);
$intro_mail: rgb(28, 36, 49);
$footer: rgb(11, 21, 35);

// Accent Colors
$cyan: rgb(101, 226, 217); // inside call-to-action gradient
$blue: rgb(51, 158, 204); // inside call-to-action gradient
$light_red: rgb(255, 66, 66);
$neutral: rgb(255, 255, 255);